In [2]:
#from google.colab import files
import pandas as pd
import numpy as np
import calendar
# import warnings

import matplotlib.pyplot as plt

## Saldo en campo

In [3]:
# Cargamos el archivo Excel - RFF Procesado
# --------------

ruta_path = 'C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS'               # -> Casa
# ruta_path = 'C:/Users/usuario/Documents/DOCUMENTOS_CONSULTOR_5_BI'      # -> Trabajo

path_sabana_saldo_campo_pw = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_saldo_campo/182329be-0e9a-43ee-saldo-campo-pw.xlsx'
path_sabana_saldo_campo_sh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_saldo_campo/19065b0d-5048-40f8-saldo-campo-sh.xlsx'

path_sabana_saldo_campo_pw_dias = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_saldo_campo/5d3cd28b-1322-479a-saldo-campo-pw-dias.xlsx'
path_sabana_saldo_campo_sh_dias = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_saldo_campo/5ecff3d5-57a8-4803-saldo-campo-sh-dias.xlsx'


# Cargar la hoja 2 (indexada desde 0, por lo tanto la hoja 2 es 'sheet_name=1')
df_sabana_saldo_campo_pw = pd.read_excel(ruta_path + path_sabana_saldo_campo_pw,sheet_name='Sheet1')
df_sabana_saldo_campo_sh = pd.read_excel(ruta_path + path_sabana_saldo_campo_sh,sheet_name='Sheet1')

df_sabana_saldo_campo_pw_dias = pd.read_excel(ruta_path + path_sabana_saldo_campo_pw_dias,sheet_name='Sheet1')
df_sabana_saldo_campo_sh_dias = pd.read_excel(ruta_path + path_sabana_saldo_campo_sh_dias,sheet_name='Sheet1')

# Eliminar las filas donde cualquiera de las columnas tenga el valor 'Totales' o NaN
df_sabana_saldo_campo_pw = df_sabana_saldo_campo_pw[~df_sabana_saldo_campo_pw[["ATCnombreMESR", "Date(ATCFechaR, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_saldo_campo_pw[["ATCnombreMESR", "Date(ATCFechaR, 'DD/MM/YYYY')"]].notna().all(axis=1)]
df_sabana_saldo_campo_sh = df_sabana_saldo_campo_sh[~df_sabana_saldo_campo_sh[["ATCnombreMESR", "Date(ATCFechaR, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_saldo_campo_sh[["ATCnombreMESR", "Date(ATCFechaR, 'DD/MM/YYYY')"]].notna().all(axis=1)]

df_sabana_saldo_campo_pw['PLANTACION'] = 'Palmawasi'
df_sabana_saldo_campo_sh['PLANTACION'] = 'Shanuzi'
df_sabana_saldo_campo_pw_dias['PLANTACION'] = 'Palmawasi'
df_sabana_saldo_campo_sh_dias['PLANTACION'] = 'Shanuzi'


# Concatenar los DataFrames
df_sabana_saldo_campo_full = pd.concat([df_sabana_saldo_campo_pw, df_sabana_saldo_campo_sh], ignore_index=True)
df_sabana_saldo_campo_dias_full = pd.concat([df_sabana_saldo_campo_pw_dias, df_sabana_saldo_campo_sh_dias], ignore_index=True)

df_sabana_saldo_campo_dias_full = df_sabana_saldo_campo_dias_full.rename(columns={'FECHA EVALUADA':'FECHA'})



# Creando variable FECHA
df_sabana_saldo_campo_full['FECHA'] = pd.to_datetime(df_sabana_saldo_campo_full["Date(ATCFechaR, 'DD/MM/YYYY')"])

print(df_sabana_saldo_campo_full.dtypes)

df_sabana_saldo_campo_full.head(10)

ATCAnioR                                  int64
ATCnombreMESR                            object
Date(ATCFechaR, 'DD/MM/YYYY')            object
SALDO                                   float64
SALDO > 3                               float64
% SALDO                                  object
PLANTACION                               object
FECHA                            datetime64[ns]
dtype: object

,ATCAnioR,ATCnombreMESR,"Date(ATCFechaR, 'DD/MM/YYYY')",SALDO,SALDO > 3,% SALDO,PLANTACION,FECHA
0,2023,Mayo,2023-05-01 00:00:00,0.0,0.0,-,Palmawasi,2023-05-01
1,2023,Mayo,2023-05-02 00:00:00,227.0,21.0,0.092511,Palmawasi,2023-05-02
2,2023,Mayo,2023-05-03 00:00:00,220.0,35.0,0.159091,Palmawasi,2023-05-03
3,2023,Mayo,2023-05-04 00:00:00,239.0,36.0,0.150628,Palmawasi,2023-05-04
4,2023,Mayo,2023-05-05 00:00:00,289.0,21.0,0.072664,Palmawasi,2023-05-05
5,2023,Mayo,2023-05-06 00:00:00,298.0,24.0,0.080537,Palmawasi,2023-05-06
6,2023,Mayo,2023-05-07 00:00:00,0.0,0.0,-,Palmawasi,2023-05-07
7,2023,Mayo,2023-05-08 00:00:00,417.0,13.0,0.031175,Palmawasi,2023-05-08
8,2023,Mayo,2023-05-09 00:00:00,380.0,29.0,0.076316,Palmawasi,2023-05-09
9,2023,Mayo,2023-05-10 00:00:00,386.0,4.0,0.010363,Palmawasi,2023-05-10

In [4]:
df_sabana_saldo_campo_dias_full.head()

,SEDE,FECHA,SALDO,DIA 1,DIA 2,>3 DIAS,DIA 3,DIA 4,DIA 5,DIA 6,DIA 7,PLANTACION
0,PW,2024-11-01,-,-,-,0,-,-,-,-,-,Palmawasi
1,PW,2024-10-31,-,-,-,0,-,-,-,-,-,Palmawasi
2,PW,2024-10-30,-,-,-,0,-,-,-,-,-,Palmawasi
3,PW,2024-10-29,-,-,-,0,-,-,-,-,-,Palmawasi
4,PW,2024-10-28,-,-,-,0,-,-,-,-,-,Palmawasi

In [5]:
# df_sabana_saldo_campo_full[['FECHA','PLANTACION','SALDO','SALDO > 3']].head()
df_sabana_saldo_campo_dias_full[['FECHA','PLANTACION','DIA 1','DIA 2','DIA 3','DIA 4','DIA 5','DIA 6','DIA 7']].head()

       FECHA PLANTACION DIA 1 DIA 2 DIA 3 DIA 4 DIA 5 DIA 6 DIA 7
0 2024-11-01  Palmawasi     -     -     -     -     -     -     -
1 2024-10-31  Palmawasi     -     -     -     -     -     -     -
2 2024-10-30  Palmawasi     -     -     -     -     -     -     -
3 2024-10-29  Palmawasi     -     -     -     -     -     -     -
4 2024-10-28  Palmawasi     -     -     -     -     -     -     -

In [6]:
# Unir los DataFrames en base a 'FECHA' y 'PLANTACION'
df_sabana_saldo_campo_full_vf = pd.merge(df_sabana_saldo_campo_full[['FECHA','PLANTACION','SALDO','SALDO > 3']],
                                         df_sabana_saldo_campo_dias_full[['FECHA','PLANTACION','>3 DIAS','DIA 1','DIA 2','DIA 3','DIA 4','DIA 5','DIA 6','DIA 7']],
                                         on=['FECHA', 'PLANTACION'], how='inner')
df_sabana_saldo_campo_full_vf.head(10)

,FECHA,PLANTACION,SALDO,SALDO > 3,>3 DIAS,DIA 1,DIA 2,DIA 3,DIA 4,DIA 5,DIA 6,DIA 7
0,2023-05-01,Palmawasi,0.0,0.0,-,-,-,-,-,-,-,-
1,2023-05-02,Palmawasi,227.0,21.0,22,158,48,20,4,-,-,-
2,2023-05-03,Palmawasi,220.0,35.0,36,156,30,24,10,-,-,-
3,2023-05-04,Palmawasi,239.0,36.0,36,170,34,16,10,10,-,-
4,2023-05-05,Palmawasi,289.0,21.0,22,238,30,4,6,10,-,-
5,2023-05-06,Palmawasi,298.0,24.0,24,212,64,22,4,-,-,-
6,2023-05-07,Palmawasi,0.0,0.0,-,-,-,-,-,-,-,-
7,2023-05-08,Palmawasi,417.0,13.0,14,340,64,14,-,-,-,-
8,2023-05-09,Palmawasi,380.0,29.0,30,310,42,30,-,-,-,-
9,2023-05-10,Palmawasi,386.0,4.0,4,324,60,0,4,-,-,-

### Guardamos la data de saldos

In [7]:
# Guardamos la data en processed
# -----
# Especifica la ruta donde deseas guardar el CSV
ruta_sabana_saldo_campo_full_vf =  '/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_sabana_saldo_campo_full_vf.csv'  # Cambia esta ruta a la que necesites
# Guardar el DataFrame en formato CSV
df_sabana_saldo_campo_full_vf.to_csv(ruta_path + ruta_sabana_saldo_campo_full_vf, index=False)
print(f'Datos guardados en {ruta_path + ruta_sabana_saldo_campo_full_vf}')

df_sabana_saldo_campo_full_vf.head(10)

Datos guardados en C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_sabana_saldo_campo_full_vf.csv

,FECHA,PLANTACION,SALDO,SALDO > 3,>3 DIAS,DIA 1,DIA 2,DIA 3,DIA 4,DIA 5,DIA 6,DIA 7
0,2023-05-01,Palmawasi,0.0,0.0,-,-,-,-,-,-,-,-
1,2023-05-02,Palmawasi,227.0,21.0,22,158,48,20,4,-,-,-
2,2023-05-03,Palmawasi,220.0,35.0,36,156,30,24,10,-,-,-
3,2023-05-04,Palmawasi,239.0,36.0,36,170,34,16,10,10,-,-
4,2023-05-05,Palmawasi,289.0,21.0,22,238,30,4,6,10,-,-
5,2023-05-06,Palmawasi,298.0,24.0,24,212,64,22,4,-,-,-
6,2023-05-07,Palmawasi,0.0,0.0,-,-,-,-,-,-,-,-
7,2023-05-08,Palmawasi,417.0,13.0,14,340,64,14,-,-,-,-
8,2023-05-09,Palmawasi,380.0,29.0,30,310,42,30,-,-,-,-
9,2023-05-10,Palmawasi,386.0,4.0,4,324,60,0,4,-,-,-

In [ ]:
# Filtramos la tendencia de interes
# -------------

# ---
df_sabana_saldo_campo_full_tendencia = df_sabana_saldo_campo_full[df_sabana_saldo_campo_full['PLANTACION'] == 'Palmawasi']
df_sabana_saldo_campo_full_tendencia = df_sabana_saldo_campo_full_tendencia.sort_values(by='FECHA')
# ---

plantacion_name = df_sabana_saldo_campo_full['PLANTACION'].unique()

# Crear el gráfico de líneas para 'toneladas_dia'
plt.figure(figsize=(15, 5))
plt.plot(df_sabana_saldo_campo_full_tendencia['FECHA'], df_sabana_saldo_campo_full_tendencia['SALDO'], marker='o', markersize=2, linestyle='-', label='SALDO')
plt.plot(df_sabana_saldo_campo_full_tendencia['FECHA'], df_sabana_saldo_campo_full_tendencia['SALDO > 3'], marker='o', markersize=2, linestyle='-', label='SALDO > 3')
plt.title('RFF Procesado por Día a través del Tiempo - '+ plantacion_name[0])
plt.xlabel('Fecha')
plt.ylabel('RFF Procesado por Día')
plt.grid(True)
plt.legend()
#plt.xticks(rotation=45)

# Mostrar la gráfica
print(df_sabana_saldo_campo_full_tendencia.head())
plt.tight_layout()
plt.show()