In [1]:
#from google.colab import files
import pandas as pd
import numpy as np
import calendar
# import warnings

import matplotlib.pyplot as plt

## Transporte en balanza en el acopio (Propios y Terceros)

In [2]:
# Cargamos el archivo Excel - RFF Procesado
# --------------

ruta_path = 'C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS'               # -> Casa
# ruta_path = 'C:/Users/usuario/Documents/DOCUMENTOS_CONSULTOR_5_BI'      # -> Trabajo

path_sabana_participacion_nh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_participacion/f431f786-ea60-42d1-participacion-nh.xlsx'
path_sabana_participacion_pw = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_participacion/bcd00108-c863-45af-participacion-pw.xlsx'
path_sabana_participacion_sh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_participacion/60af1148-0ee5-4d21-participacion-sh.xlsx'
path_sabana_participacion_tl = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_participacion/e8fdb299-c22e-45c1-participacion-tl.xlsx'


# Cargar la hoja 2 (indexada desde 0, por lo tanto la hoja 2 es 'sheet_name=1')
df_sabana_participacion_nh = pd.read_excel(ruta_path + path_sabana_participacion_nh,sheet_name='Sheet1')
df_sabana_participacion_pw = pd.read_excel(ruta_path + path_sabana_participacion_pw,sheet_name='Sheet1')
df_sabana_participacion_sh = pd.read_excel(ruta_path + path_sabana_participacion_sh,sheet_name='Sheet1')
df_sabana_participacion_tl = pd.read_excel(ruta_path + path_sabana_participacion_tl,sheet_name='Sheet1')

# Eliminar las filas donde cualquiera de las columnas tenga el valor 'Totales' o NaN
df_sabana_participacion_nh = df_sabana_participacion_nh[~df_sabana_participacion_nh[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_participacion_nh[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].notna().all(axis=1)]
df_sabana_participacion_pw = df_sabana_participacion_pw[~df_sabana_participacion_pw[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_participacion_pw[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].notna().all(axis=1)]
df_sabana_participacion_sh = df_sabana_participacion_sh[~df_sabana_participacion_sh[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_participacion_sh[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].notna().all(axis=1)]
df_sabana_participacion_tl = df_sabana_participacion_tl[~df_sabana_participacion_tl[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].isin(['Totales']).any(axis=1) & df_sabana_participacion_tl[["PTNOMBREMES", "Date(PTDIA, 'DD/MM/YYYY')"]].notna().all(axis=1)]

df_sabana_participacion_nh['PLANTACION'] = 'Nuevo Horizonte'
df_sabana_participacion_pw['PLANTACION'] = 'Palmawasi'
df_sabana_participacion_sh['PLANTACION'] = 'Shanuzi'
df_sabana_participacion_tl['PLANTACION'] = 'Tulumayo'

# Concatenar los DataFrames
df_sabana_participacion_full = pd.concat([df_sabana_participacion_nh, df_sabana_participacion_pw, df_sabana_participacion_sh, df_sabana_participacion_tl], ignore_index=True)

# Creando variable FECHA
df_sabana_participacion_full['FECHA'] = pd.to_datetime(df_sabana_participacion_full["Date(PTDIA, 'DD/MM/YYYY')"])

print(df_sabana_participacion_full.dtypes)

# Guardamos la data en processed
# -----
# Especifica la ruta donde deseas guardar el CSV
ruta_sabana_participacion_full =  '/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_sabana_participacion_full.csv'  # Cambia esta ruta a la que necesites
# Guardar el DataFrame en formato CSV
df_sabana_participacion_full.to_csv(ruta_path + ruta_sabana_participacion_full, index=False)
print(f'Datos guardados en {ruta_path + ruta_sabana_participacion_full}')

df_sabana_participacion_full.head(10)

PTANIO                                int64
PTNOMBREMES                          object
Date(PTDIA, 'DD/MM/YYYY')            object
PROPIOS                             float64
TERCEROS                            float64
TOTAL                               float64
PARTICIPACION CP                    float64
PLANTACION                           object
FECHA                        datetime64[ns]
dtype: object
Datos guardados en C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_sabana_participacion_full.csv

,PTANIO,PTNOMBREMES,"Date(PTDIA, 'DD/MM/YYYY')",PROPIOS,TERCEROS,TOTAL,PARTICIPACION CP,PLANTACION,FECHA
0,2024,Enero,2024-01-02 00:00:00,0.00,198.59,198.59,1.000000,Nuevo Horizonte,2024-01-02
1,2024,Enero,2024-01-03 00:00:00,23.23,252.48,275.71,0.915745,Nuevo Horizonte,2024-01-03
2,2024,Enero,2024-01-04 00:00:00,45.08,279.98,325.06,0.861318,Nuevo Horizonte,2024-01-04
3,2024,Enero,2024-01-05 00:00:00,38.77,286.39,325.16,0.880766,Nuevo Horizonte,2024-01-05
4,2024,Enero,2024-01-06 00:00:00,53.18,222.22,275.40,0.806899,Nuevo Horizonte,2024-01-06
5,2024,Enero,2024-01-07 00:00:00,0.00,33.91,33.91,1.000000,Nuevo Horizonte,2024-01-07
6,2024,Enero,2024-01-08 00:00:00,0.00,208.27,208.27,1.000000,Nuevo Horizonte,2024-01-08
7,2024,Enero,2024-01-09 00:00:00,43.07,262.15,305.22,0.858889,Nuevo Horizonte,2024-01-09
8,2024,Enero,2024-01-10 00:00:00,0.00,242.48,242.48,1.000000,Nuevo Horizonte,2024-01-10
9,2024,Enero,2024-01-11 00:00:00,48.01,206.21,254.22,0.811148,Nuevo Horizonte,2024-01-11

In [13]:
df_sabana_participacion_full[df_sabana_participacion_full['PTANIO'] == 2023].head(10)

,PTANIO,PTNOMBREMES,"Date(PTDIA, 'DD/MM/YYYY')",PROPIOS,TERCEROS,TOTAL,PARTICIPACION CP,PLANTACION,FECHA
181,2023,Enero,2023-01-02 00:00:00,107.02,88.54,195.56,0.452751,Nuevo Horizonte,2023-01-02
182,2023,Enero,2023-01-03 00:00:00,15.45,199.32,214.77,0.928063,Nuevo Horizonte,2023-01-03
183,2023,Enero,2023-01-04 00:00:00,59.57,210.47,270.04,0.779403,Nuevo Horizonte,2023-01-04
184,2023,Enero,2023-01-05 00:00:00,118.15,174.66,292.81,0.596496,Nuevo Horizonte,2023-01-05
185,2023,Enero,2023-01-06 00:00:00,29.84,210.31,240.15,0.875744,Nuevo Horizonte,2023-01-06
186,2023,Enero,2023-01-07 00:00:00,109.81,160.65,270.46,0.593988,Nuevo Horizonte,2023-01-07
187,2023,Enero,2023-01-08 00:00:00,52.88,19.43,72.31,0.268704,Nuevo Horizonte,2023-01-08
188,2023,Enero,2023-01-09 00:00:00,32.18,190.42,222.60,0.855436,Nuevo Horizonte,2023-01-09
189,2023,Enero,2023-01-10 00:00:00,30.86,265.85,296.71,0.895993,Nuevo Horizonte,2023-01-10
190,2023,Enero,2023-01-11 00:00:00,29.22,262.35,291.57,0.899784,Nuevo Horizonte,2023-01-11